.add {
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  align-items: center;
  /*justify-content: center;*/
  margin: 5%;
}

.addName {
  width: 50%;
  text-align: center;
}
  
.add >* {
  /*margin-bottom: 10px;*/
  margin: 10px;
}

.addArrow {
  width: 100px;
  text-align: center;
}
  
.addRowFields {
  display: flex;
  flex-direction: row;
  width: 100%;
  /*justify-content: space-around;*/
  /*align-items: center;*/
  justify-content: center;
  /*margin: 5%;*/
}

.addButton {
}

.addOrigin,
.addDestination,
.addAltitude,
.addSpeed {
  width: 40%;
}