/*
.addAircraft {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  margin: 5%;
}

.addAircraftField {
  margin-bottom: 10px;
  text-align:  center;
}

.addAircraftButton {
}
*/
