.addFlight {
  display: flex;
  flex-direction: column;
  margin: 5%;
  align-items: center;
  justify-content: center;
}

.addFlightFields {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
  
.addFlightField {
  width: 100%;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align:  center;
  justify-content: center;
}

.addFlightParked {
  white-space: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  /*min-width: 0;*/
  flex-basis: 150px;
}
  
.addDestination {
  /*min-width: 300px;*/
  /*flex-basis: 200px;*/
}

.addAltitude {
  /*min-width: 50px;*/
}

.addSpeed {
  /*min-width: 50px;*/
}

.addCharge {
  /*min-width: 50px;*/
}

.addButton {
  margin-top: 10px;
  margin-bottom: 20px;
}
