.aircraftRow {
	padding: 5px 0 5px 0;
	display: flex;
	flex-direction: row;
}

.aircraftRowFields {
	width: calc( 100% - 100px );
	display: flex;
}
	
.aircraftRowName {
	width: 25%;
}

.aircraftRowButtonSchedule {
	margin: 0 2% 0 0;
	width: 100px;
}

.aircraftRowButtonHistory {
	margin: 0 2% 0 0;
	width: 100px;
}

.aircraftRowButtonMaintenance {
	margin: 0 2% 0 0;
	width: 100px;
}

.aircraftRow .aircraftRowRightButton,
.aircraftRow .aircraftRowFields {
	opacity: 0.5;
	pointer-events: none;
}

.aircraftRow:hover .aircraftRowRightButton,
.aircraftRow:hover .aircraftRowFields {
	opacity:  1;
	pointer-events: auto;
}

.aircraftRow:hover .aircraftRowName {
	font-weight: bold;
}

.aircraftRowOrigin {
	width: 25%;
	margin: 0 1% 0 0;
	text-align: right;
}

.aircraftRowArrow {
	width: 2%;
	text-align: center;
	margin: 0 1% 0 0;
}

.aircraftRowDestination {
	width: 20%;
	margin: 0 2% 0 0;
}

.aircraftRowAltitude {
	margin: 0 2% 0 0;
	width: 10%;
}
	
.aircraftRowSpeed {
	margin: 0 5% 0 0;
	width: 10%;
}
	
.aircraftRowRightButton {
	width: 100px;
}

input {
	padding: 0;
}
