.aircraftRow {
	padding: 5px 0 5px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/*align-items: xxx;*/
}

.aircraftRowFields {
	padding: 0;
	margin: 0 2% 0 0;
	width: calc( 100% - 100px );
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
	
.aircraftRowName {
	padding: 0;
	margin: 0 2% 0 0;
	width: 20%;
}

.aircraftRowOrigin {
	padding: 0;
	margin: 0 2% 0 0;
	width: 15%;
}

.aircraftRowDestination {
	padding: 0;
	margin: 0 2% 0 0;
	width: 20%;
}

input.aircraftRowDestination {
	opacity: 0;
}

.aircraftRow:hover input.aircraftRowDestination {
	opacity:  1;
}

.aircraftRowArrow {
	padding: 0;
	margin: 0 2% 0 0;
	width: 5%;
	opacity: 0;
}

.aircraftRow:hover .aircraftRowArrow {
	opacity:  1;
}

.aircraftRowAltitude {
	padding: 0;
	margin: 0 2% 0 0;
	width: 20%;
}

input.aircraftRowAltitude {
	opacity: 0;
}

.aircraftRow:hover input.aircraftRowAltitude {
	opacity:  1;
}

.aircraftRowSpeed {
	padding: 0;
	margin: 0 2% 0 0;
	width: 20%;
}

input.aircraftRowSpeed {
	opacity: 0;
}

.aircraftRow:hover input.aircraftRowSpeed {
	opacity:  1;
}

.aircraftRowButton {
	padding: 0;
	margin: 0 0% 0 0;
	width: 100px;
	opacity: 0;
}

.aircraftRow:hover .aircraftRowButton {
	opacity: 1;
}

/*
ul.react-autocomplete-input,
ul.react-autocomplete-input > li.active,
ul.react-autocomplete-input > li {
	padding: 0;
	margin: 0;
	width: 75%;
	color:  red;
	background-color: blue;
}
*/