/*.aircraftRow {
	margin: 10px 0 0 0;

	display: flex;
	flex-direction: row;
}

.aircraftRowName {
	width: 100px;
}

.aircraftRowLoc {
	width: 150px;
}

.aircraftRowAltitude {
	width: 75px;
}

.aircraftRowSpeed {
	width: 50px;
}

.aircraftRowButton {
	width: 100px;
}
*/