.fleet {
  margin: 2%;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*align-items: xxx;*/
}

.fleet >div:nth-of-type(odd) {
  background-color: #e8e8e8;
}


/*
.fleet-header {
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fleet-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fleet-buttons {
  width: 30px;
  height: 30px;
  font-size: xx-large;
  border-style: solid;
  border-radius: 50%;
}

.fleet-path {
  font-weight: bold;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fleet-mapContainer {
  position: relative;
  height: 400px;
  width: 100%;
}

.fleet-delete {
  display: flex;
  align-self: flex-end;
  margin-top: 400px;
  width: 90px;
}
*/