.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  padding-bottom : 10px;
  border-bottom-color: lightgray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  /*
  padding-top : 10px;
  border-top-color: lightgray;
  border-top-style: solid;
  border-top-width: 1px;
  */
  align-items: flex-end;
  height:  100%;
}