.bottomRowoneOfSixPack,
.topRowSixPack {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}

.oneOfSixPack {
  /*display: flex;*/
}

.instrument {
  transition: width 2s, height 2s;
}

