.selectedAircraft {
  border-bottom-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
}

.selectedAircraftLeftCol {
  width:  calc( 100% - 300px );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selectedAircraftMiddleCol {
  display: flex;
  flex-direction: column;
  margin: 0 2% 0 0;
}

.selectedAircraftFuel {
}

.selectedAircraftRightCol {
  display: flex;
  flex-direction: column;
}

.selectedNameAndPath {
  justify-content: space-between;
  align-items: center;
}

.selectedTimeAndDistance,
.selectedDistanceBar,
.selectedTimeBar,
.selectedTimeAndDistanceBar,
.selecteddAltAndSpeed,
.selectedNameAndPath {
  display: flex;
  flex-direction: row;
  padding: 1% 0;
}

.selectedDistanceBar,
.selectedTimeBar,
.selectedTimeAndDistanceBar {
  display: flex;
  flex-direction: row;
}

.ProgressBar {
  width: 20%;
  padding: 0;
  margin: 0 2% 0 0;
  flex-grow: 1;
}

.selectedAircraftName,
.selectedAircraftAltitude,
.selectedAircraftSpeed,
.selectedAircraftDistance,
.selectedAircraftTime,
.selectedAircraftRemaining,
.selectedAircraftName {
  padding: 0;
  margin: 0 2% 0 0;
  /*width: 10%;*/
}

.selectedAircraftName {
  font-weight: bold;
  font-size: x-large;
}

.selectedAircraftOrigin {
  padding: 0;
  margin: 0 0% 0 0;
  /*width: 10%;*/
}

.selectedAircraftArrow {
  padding: 0;
  margin: 0 2% 0 2%;
  /*width: 2%;*/
}

.selectedAircraftDestination {
  padding: 0;
  margin: 0 2% 0 0;
  /*width: 10%%;*/
}

.selectedCommsButton,
.selectedContingencyButton,
.selectedMapButton,
.selectedCloseButton,
.selectedVideoButton,
button.selectedNameAndPath {
  border-radius: 10px;
}

.selectedAircraftRest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 1% 0;
}

.text-group {
  transform: translate(38%, 42.325%);
}

.selectedAircraftCharge {
  text-align: center;
}

.selectedAircraftCharge.notEnough {
  color: red;
}

.largeSixPack {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  overflow:  hidden;
  transition: height 1s;
}

.showSixPack {
  height: 500px;
}
