.selectedNameAndParked {
  display: flex;
  flex-direction: row;
  padding: 1% 0;
  justify-content: space-between;
  align-items: center;
}

.selectedAircraftNameParked,
.selectedAircraftOriginParked,
.selectedAircraftCloseParked {
  padding: 0;
  flex-basis:  20%;
  display: flex;
  flex-direction: row;
}

.selectedAircraftNameParked {
  justify-content: start;
  font-weight: bold;
  font-size: x-large;
}

.selectedAircraftCloseParked {
  justify-content: flex-end;
}

