.supervise {
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.supervise-header {
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.supervise-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.supervise-buttons {
  width: 30px;
  height: 30px;
  font-size: xx-large;
  border-style: solid;
  border-radius: 50%;
}

.supervise-path {
  font-weight: bold;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.supervise-mapContainer {
  position: relative;
  height: 400px;
  width: 100%;
}

.supervise-delete {
  display: flex;
  align-self: flex-end;
  margin-top: 400px;
  width: 90px;
}

.markerAndNames {
  width: 100px;
  margin: 0;
  padding: 0;
  opacity: 0.3;
}
.markerAndNames.markerAndNamesSelected {
  opacity: 1;
}

.marker {
  background-image: url(/static/wisk-icon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 64px;
}
.markerNames {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  width: 100px;
  font-size: large;
}

.selectedAircraft {
  /*border-top-style: solid;*/
  border-bottom-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
}

.selectedAircraftLeftCol {
  /*width: 50%;*/
  width:  calc( 100% - 150px );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selectedAircraftRightCol {
  /*width: 20%;*/
  /*height: 20%;*/
  display: flex;
  flex-direction: column;
  /*transform: scale( 0.3 );*/
  /*position: absolute;*/
}

.selectedNameAndPath {
  justify-content: space-between;
}

.selectedTimeAndDistance,
.selectedDistanceBar,
.selectedTimeBar,
.selectedTimeAndDistanceBar,
.selecteddAltAndSpeed,
.selectedNameAndPath {
  display: flex;
  flex-direction: row;
  padding: 1% 0;
}

.selectedDistanceBar,
.selectedTimeBar,
.selectedTimeAndDistanceBar {
  display: flex;
  flex-direction: row;
}

.ProgressBar {
  width: 20%;
  padding: 0;
  margin: 0 2% 0 0;
}

.selectedAircraftName,
.selectedAircraftAltitude,
.selectedAircraftSpeed,
.selectedAircraftDistance,
.selectedAircraftTime,
.selectedAircraftRemaining,
.selectedAircraftName {
  padding: 0;
  margin: 0 2% 0 0;
  /*width: 10%;*/
}

.selectedAircraftOrigin {
  padding: 0;
  margin: 0 0% 0 0;
  /*width: 10%;*/
}

.selectedAircraftArrow {
  padding: 0;
  margin: 0 2% 0 2%;
  /*width: 2%;*/
}

.selectedAircraftDestination {
  padding: 0;
  margin: 0 2% 0 0;
  /*width: 10%%;*/
}

.selectedCommsButton,
.selectedContingencyButton,
.selectedCloseButton,
button.selectedNameAndPath {
  border-radius: 10px;
}

.selectedAircraftRest {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}

.bottomRowoneOfSixPack,
.topRowSixPack {
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
}

.oneOfSixPack {
  /*display: flex;*/
}
